/*统配样式*/
*{font-size:14px;}
html,body{width:100%;height:100%;}
a{text-decoration:none;color:#000000;}
img{border:0px;}
/*ul{list-style:none;list-style-position:inside;}*/
.W{width:1366px;}
.center{margin:0px auto;}

.bg{height:100%;width:100%;}
/*标题*/
.title{
    height:55px;text-align:center;font-size:35px;line-height:55px;
    letter-spacing:20px;font-weight:bolder;color:#050093;padding-top:10px;
}
.content{width:70%;border:1px solid #ccc;border-radius:10px;margin-top:10px;}
.title2{
    width:95%;height:50px;line-height:35px;padding-top:10px;
}
.title2 img{height:35px;width:35px;}
.title2 div{float:left;}
.title2 .djfont{font-size:16px;color:#7a1000;font-weight:bold;}
.title2 .djdate{float:right;}
.title2 .djdate span{color:#7a1000;font-weight:bold;}
.inf{
    /*background-image:url(http://localhost/TP3.2.3pykj/Public/img/npbj.jpg);background-size:100% 100%;*/
    background-repeat: no-repeat;border-top:2px solid #ccc;
    width:100%;padding-top:20px;padding-bottom:20px;
}
/*表格*/
.inf .mbt{width:95%;}
.inf .mbt tr{height:35px;line-height:24px;}
.inf .mbt tr td input[type='text']{width:70%;}
.inf .mbt tr td .lontext{width:87.5%!important;}
/*按钮区*/
.but{height:40px;margin-bottom:10px;}
.but .butt{float:right;margin-right:20px;}
.but .first{margin-right:20px;}
.but .butt button{padding:10px 30px!important;}
