/*统配样式*/
/**{margin:0px;padding:0px;font-family:宋体;font-size:14px;}*/
*{font-size:14px;}
html,body{width:100%;height:100%;}
a{text-decoration:none;color:#000000;}
img{border:0px;}
/*ul{list-style:none;list-style-position:inside;}*/
.W{width:1366px;}
.center{margin:0px auto;}

.bg{height:100%;width:100%;}
/*接诊区标题*/
.title{
    height:55px;text-align:center;font-size:30px;line-height:55px;
    letter-spacing:20px;font-weight:bolder;color:#050093;padding-top:10px;
}
/*预约筛选*/
.yuyue{height:36px;line-height:40px;margin-left:25px;margin-top:10px;}
.yuyue div{float:left;}
.yuyue img{height:36px;width:30px;}
.yuyue .yyfont{font-size:16px;color:#7a1000;font-weight:bold;}
.yuyue .yychecked{margin-left:40px;}
.yuyue .yychecked .yydate{text-align: center;}
.yuyue .yychecked .yydate option{cursor: pointer;}
.yuyue .nowdate{float:right;margin-right:30px;}
.yuyue .nowdate span{color:#7a1000;font-weight:bold;}
/*表格区*/
.yyinf{width:96%;height:70%;}
.yytab{
    margin-top:12px;width:100%;height:100%;overflow:auto;
    /*background-image:url(http://localhost/TP3.2.3pykj/Public/img/zybg.jpg);*/
    /*background-size:50% 100%;background-repeat:no-repeat;background-position: right;*/
    background-color:#fefefc;
}
.yytab table{text-align:center;}
.yytab table tr{height:28px;font-size:15px;height:35px;line-height:35px;}
.yytab table tr th{
    background-color:#f0f0f0;border-top:1px solid #ffffff;text-align: center;font-size:18px;
}
.yytab table tr td{border-top:1px solid #CCCCCC;font-size:16px;}
.yytab table tr:last-child{border-bottom:1px solid #CCCCCC;}
.yytab table .sty1 td{color:#000000;}
.yytab table .sty2 td{background-color:rgba(0,120,215,0.8);color:#ffffff;}
.yytab table tr td span{color:#0338d9;text-decoration: underline;cursor: pointer;font-size:16px;}
/*统计栏*/
.yytj{height:30px;width:100%;background-color:#027ec4;margin-bottom:0px;line-height:30px;}
.yytj>span{color:#ffffff;margin-left:10px;}
.yytj span span{margin:0px 5px;}