/*统配样式*/
*{font-size:14px;font-family:宋体;}
html,body{width:100%;height:100%;}
a{text-decoration:none;color:#000000;}
ul{list-style:none;list-style-position:inside;}
img{border:0px;}
.W{width:1366px;}
.center{margin:0px auto;}
.bg{height:100%;width:100%;margin-top:-20px;}

.xxk{margin-left:40px;height:100%;width:93%;position:relative;}
#myTabContent{height:100%;width:100%;background-color:#d9d9d9;clear: both;border:1px solid #cccccc;overflow:auto;
    padding-top:60px;}
/*表格内部内容*/
.tab-content .healthGui{height:100%;width:70%;margin:0px auto;}
/*白色背景*/
.tab-content .healthGui form{padding:40px 80px;background-color:#ffffff;}
.tab-content .healthGui form .title{text-align:center;font-weight:bold;font-size:28px;padding:15px 0px;}
.tab-content .healthGui form .title2{line-height:30px;}
.tab-content .healthGui form .content{line-height:30px;text-indent:2em;}
.tab-content .healthGui form .title3{line-height:30px;font-weight:bold;}
.tab-content .healthGui form .careTitle{line-height:30px;color:#0033cc;text-indent:2em;}
.tab-content .healthGui form .careInf{line-height:30px;color:#0033cc;text-indent:5em;}
.tab-content .healthGui form img{width:100%;}
/*按钮*/
.button{position:absolute;right:-38px;top:40px;}
.button button{display:block;margin-bottom:5px;padding:10px 10px!important;}