/*统配样式*/
*{font-size:14px;}
html,body{width:100%;height:100%;}
a{text-decoration:none;color:#000000;}
img{border:0px;}
/*ul{list-style:none;list-style-position:inside;}*/
.W{width:1366px;}
.center{margin:0px auto;}

.bg{height:100%;width:100%;}
/*标题*/
.title{
    height:55px;text-align:center;font-size:35px;line-height:55px;
    letter-spacing:20px;font-weight:bolder;color:#050093;padding-top:10px;
}
.content{width:80%;border:1px solid #ccc;margin-top:10px;border-radius:10px;}
/*表格上的标题*/
.title2{width:95%;height:45px;line-height:35px;padding:10px 0px;}
.title2 img{height:35px;width:35px;}
.title2 div{float:left;}
.title2 .modfont{font-size:16px;color:#7a1000;font-weight:bold;}
.title2 .moddate{float:right;}
.title2 .moddate span{color:#7a1000;font-weight:bold;}
.title2 .titLeft{float:left;width:63%;}
.title2 .titRight{float:right;width:37%;}
.inf{height:350px;width:95%;margin-top:10px;}
.inf .bodyLeft{
    float:left;width:64%;border:1px solid #696969;height:95%;border-radius:5px;
}
.inf .bodyRight{float:left;width:36%;border:1px solid #696969;height:95%;border-radius:5px;}
.inf .bodyRight .brtop{height:92%;overflow:auto;border:1px solid #cccccc;}
.inf .bodyRight .brbottom{height:8%;}
.inf .bodyRight .brbottom span{color:#800000;font-weight:bold;}
/*表格区*/
.inf table{width:95%;}
.inf .mbt{height:100%;}
.inf table tr{height:35px;line-height:24px;}
.inf table tr td input[type='text']{width:80%;}
.inf table tr td .lontext{width:92%!important;}
.inf .rtable{width:100%;overflow-y:scroll;}
.inf .rtable tr td{border:1px solid #cccccc;cursor:pointer;}
.inf .rtable tr:first-child td{background-color:#d7d715;color:#000000;text-align:center;}
.inf .rtable tr:first-child{border-radius:5px 5px 0px 0px;}
/*按钮区*/
.but{height:40px;margin-bottom:10px;}
.but .butt{float:right;margin-right:20px;}
.but .first{margin-right:20px;}
.but .butt button{padding:10px 30px!important;}