#waibig{
	width:100%;
	height:100%;
	min-width:1000px;
	min-height:400px;
}
#left_big{
	width:73%;
	height:100%;
	float:left;
	margin-top:1px;
	margin-left:42px;
}
#right_big{
	width:22%;
	height:105%;
	float:left;
	margin-left:5px; 
	margin-top:-35px;
}
#brxx{
	width:100%;
	height:5%;
	color:#913B04;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	background-color:#EEE;
}
#cfmx{
	width:100%;
	height:70%;
	border:2px solid #AAA;
	overflow-y:scroll;
	margin-top:10px;
}
#wrph_pic{
	width:100%;
	height:10%;
	border:1px solid #000;
	margin-top:3px;
	float:left;
}
#jfyf{
	width:37%;
	height:21%;
	float:left;
	margin-left:10px;
}

/*.right_btn{
	width:100%;
	height:7%;
	border:1px solid black;
	margin-top:2px;
	font-size:27px; 
	color:#000;
	font-weight:bold;
	text-align:center;
	border-radius:10px;
	background-color:#F0AD4E;
	cursor:pointer;
}
#sh_btn{
	background-color:#CC0000;
}*/
.select{
	color:#000;
	margin-top:15px;
	height:15%;
	width:100%;
}
#xwgj{
	width:100%;
	height:50%;
	border:1px solid #000;
}

#yzxq{
	width:100%;
	height:49%;
	border:2px solid #CCC;
}
#yhcz{
	width:100%;
	height:5%;
}
#yf{
	color:#000;
	font-size:15px;
	color:red;
	margin-left:10px;
	line-height:35px;
	cursor:pointer;
}
#yfchecked{
	width:14px;
	height:14px;
}
#lscf{
	width:300px;
	height:40px;
	border:1px solid #000;
	line-height:35px;
	float:left;
	margin-top:-20px;
	margin-left:40px;
	font-size:20px;
	/*font-weight:bold;*/
	color:#000;
	text-align:center;
	margin-left:45px;
	cursor:pointer;
	border:0;
	border-radius:8px;
	/*border-left:2px solid #000;*/
	/*border-right:2px solid #000;*/
	border:1px solid #000;
}
#xtys{
	width:100px;
	height:40px;
	border:1px solid #000;
	line-height:35px;
	float:left;
	margin-top:-20px;
	margin-left:10px;
	font-size:20px;
	/*font-weight:bold;*/
	color:#FFF;
	/*#E86161*/
	background-color:#FF6B6B;
	text-align:center;
	cursor:pointer;
	border:0;
	border-radius:8px;
	/*border-left:2px solid #000;*/
	/*border-right:2px solid #000;*/
	border:1px solid #000;
}
#dtcf{
	width:300px;
	height:40px;
	border:1px solid #000;
	float:left;
	margin-top:-20px;
	color:#000;
	font-size:20px;
	/*font-weight:bold;*/
	text-align:center;
	margin-left:10px;
	cursor:pointer;
	border:0;
	border-radius:8px;
	/*border-left:2px solid #000;*/
	/*border-right:2px solid #000;*/
	border:1px solid #000;
}
#ylcf{
	width:300px;
	height:40px;
	border:1px solid #000;
	float:left;
	margin-top:-20px;
	color:#000;
	font-size:20px;
	/*font-weight:bold;*/
	text-align:center;
	margin-left:10px;
	line-height:35px;
	cursor:pointer;
	border:0;
	border-radius:8px;
	/*border-left:2px solid #000;*/
	/*border-right:2px solid #000;*/
	border:1px solid #000;
}
.span{
	margin-left:20px;
	color:black;
	font-size:15px;
}
.text{
	width:40px;
	height:30px;
	border:0;
	border-bottom:1px solid #000;
	background-color:#F5F5F5;
	color:black!important;
	text-align:center;
	font-size:18px;
}
#tzan{
	/*color:#000!important;*/
	font-size:15px!important;
	margin-top:5px;
	height:28px;
	margin-left:16px;
	line-height:18px;
}
#jyan{
	height:28px;
	/*color:#000!important;*/
	font-size:16px!important;
	margin-top:5px;
	margin-left:5px;
	line-height:18px;
}
#qxspan{
	color:#000;
	font-size:15px;
	float:right;
	margin-right:20px;
	cursor:pointer;
}
#qxche{
	width:14px;
	height:14px;
}
.zykf_yp{
	width:23%;
	height:30%;
	border:1px solid #000;
	margin:5px;
	border-radius:15px;
	float:left;
	color:#000;
	background-color:#EEE;
	cursor:pointer;
/*	background-image:url('../img/ypbg.jpg');*/
}
.yp1{
	height:16%;
	width:100%;
	font-size:19px;
}
.yp2{
	width:32%;
	height:22%;
	float:right;
}
.yp3{
	width:74%;
	height:38%;
	border-bottom:2px solid #000;
	float:left;
	font-size:25px;
	line-height:40px;
}
.yp4{
	width:96%;
	height:21%;
	float:left;
	margin-top:3px;
	margin-left:5px;
}
.jianyao{
	float:right;
	width:15px;
	height:15px;
	margin-right:6px;
	border:1px solid #000;
	border-radius:10px;
	text-align:center;
	line-height:15px;
	background-color:#FFB3A9;
	font-size:15px;
	font-weight:bold;
	cursor:pointer;
}
.jfselect{
	border:0;
	height:100%;
	width:100%;
	border-bottom:1px solid #000;
	background-color:rgba(1,1,1,0);
	font-size:14px;
}
.ypylke{
	width:45px;
	border:0;
	background-color:rgba(1,1,1,0);
	color:#000!important;
	font-size:15px;
	margin-bottom:2px;
}
.ypylspan{
	float:right;
	margin-right:5px;
	font-size:15px;
}
.xzypche{
	width:14px;
	height:14px;
}
#yztext{
	width:100%;
	height:105%;
	color:#000;
	font-size:16px;
	background-color:rgba(253,250,238,0);
}
#tcana{
	float:right;
	margin-right:10px;
	margin-top:5px;
	width:7%;
	height:120%;
	font-size:15px!important;
}
#xdcfana{
	float:right;
	margin-right:10px;
	margin-top:5px;
	width:10%;
	height:120%;
	font-size:15px!important;
}
.zykf_yzmr{
	width:47%;
	height:25px;
	border:2px solid #CCC;
	float:left;
	min-width:65px;
	font-weight:normal;
	color:#000;
	border-radius:3px;
	margin:3px;
	text-align:center;
	cursor:pointer;
}
#xwgj{
	color:#000;
}
#yzdiv{
	width:5%;
	height:19%;
	float:left;
	margin-top:3px;
	color:#000;
	font-size:30px;
	font-weight:bold;
	line-height:65px;
	text-align:center;
}
#xtsh{
	margin-top:50px;
	width:40%;
	height:50px;
	font-size:19px!important;
	color:#000!important;
	font-weight:bold;
}
#wrphzb{
	width:100%;
	height:30px;
	color:#000;
	font-size:20px;
	background-color:#EEE;
}
#lscfxq{
	position:absolute;
	z-index:2;
	top:40px;
	left:40px;
	width:340px;
	height:160px;
	border:2px solid #000;
	background-color:#F5F5F5;
	display:none;
	color:#000;
	font-size:17px;
	cursor:pointer;
}
#lscfxq table td{  
    border-top: 0;  
    border-bottom: 1px solid #999;
}
#lscfxq table{
	width:100%;
	height:100%;
	text-align:center;
}
#dtcfxq{
	position:absolute;
	z-index:2;
	top:40px;
	left:330px;
	width:340px;
	height:500px;
	border:2px solid #000;
	background-color:#F5F5F5;
	display:none;
	overflow:auto;
}
#tzspan{
	display:none;
	color:#000;
}
#gd{
	width:55%;
	height:100%;
	float:left;
}
.ylypnm{
	width:100%;
	height:80%;
	color:#000!important;
	font-size:25pxpx;
	border:0;
	line-height:40px;
	background-color:rgba(1,1,1,0);
}
#zykf_cxypk{
	width:300px;
	height:400px;
	background-color:#FFF;
	color:#000;
	border:1px solid #000;
	border-radius:5px;
	position:absolute;
	z-index:2;
	left:0px;
	top:0px;
	display:none;
}
#yjk{
	width:700px;
	height:550px;
	background-color:#FFF;
	color:#000;
	border:1px solid #000;
	border-radius:5px;
	position:absolute;
	z-index:2;
	left:200px;
	top:50px;
	color:#000;
	display:none;
}
#yjtc{
	float:right;
	width:22px;
	height:22px;
	color:#CCC;
	text-align:center;
	line-height:17px;
	font-size:20px;
	font-weight:bold;
	cursor:pointer;
}
#xtshk{
	width:900px;
	height:650px;
	background-color:#FFF;
	color:#000;
	border:1px solid #000;
	border-radius:5px;
	position:absolute;
	z-index:2;
	left:160px;
	top:70px;
	color:#000;
	display:none;
}
#zccfls{
	position:absolute;
	left:1px;
	top:300px;
	width:40px;
	height:260px;
	border:1px solid #CCC;
	cursor:pointer;
	font-size:20px;
	color:#000;
	line-height:60px;
	text-align:center;
}
#zccfdt{
	position:absolute;
	top:41px;
	left:1px;
	width:40px;
	height:260px;
	border:1px solid #CCC;
	cursor:pointer;
	font-size:20px;
	color:#000;
	line-height:60px;
	text-align:center;
}
#yzxqs{
	height:40%;
	width:90%;
	border-bottom:1px solid #000;
}
.a1{
	width:20%;
	color:#000!important;
	height:35px;
	margin-left:15px;
}
#docter_talk{
	width:100%;
	height:7%;
	color:#000;
	font-size:18px;
	font-weight:bold;
}
#yzxqx{
	width:100%;
	height:50%;
}
#jjffyyl{
	width:100%;
	height:5%;
	margin-top:10px;
}
#lscfcd{
	width:300px;
	height:520px;
	background-color:#FFF;
	position:absolute;
	z-index:2;
	top:40px;
	left:42px;
	border:1px solid #000;
	display:none;
}
#dtcfcd{
	width:300px;
	height:520px;
	background-color:#FFF;
	position:absolute;
	z-index:2;
	top:40px;
	left:42px;
	border:1px solid #000;
	display:none;
}
.trr{
	background-color:#EEE;
}
#xtysxq{
	width:600px;
	height:500px;
	position:absolute;
	left:160px;
	top:41px;
	z-index:2;
	border:2px solid #000;
	background-color:#F5F5F5;
	overflow:auto;
	display:none;
}
#sttcxx{
	float:right;
	width:20px;
	height:20px;
	margin-right:6px;
	border:1px solid #000;
	border-radius:10px;
	text-align:center;
	line-height:19px;
	background-color:#FFB3A9;
	font-size:18px;
	font-weight:bold;
	cursor:pointer;
}