<extend name="Public/base.html"/>
<block name="link">
	<!-- <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
	<!-- 自己写的css -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/yeMiancss/kaiFang6.css">
	<!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
    <script src="__PUBLIC__/jq/jquery-3.1.1.min.js"></script>
	<!-- bootstrap的引用 -->
    <!-- <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script> -->
    
</block>
<block name="zhuti">
	<!-- 头 -->
	<div class="toushang">
		<div class="toushangzuo">
			<h4>
			<img src="__PUBLIC__/img/症状.jpeg" style="height: 30px;" alt="图片加载中。。。。">
			<b>症状</b></h4>
		</div>
		<div class="toushangzh">
			<h4><img src="__PUBLIC__/img/症状.jpeg" style="height: 30px;" alt="图片加载中。。。。">
			<b>辩证结果</b></h4>
		</div>
		<div class="toushangyou">
			<h4><img src="__PUBLIC__/img/症状.jpeg" style="height: 30px;" alt="图片加载中。。。。">
			<b>处方选择</b></h4></div>
		<div class="qisfudong"></div>
	</div>
	<!-- 中 -->
	<div class="zhongjinade">
		<div class="zhongzuo">
			<!-- 折叠 -->
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion"  href="#collapseTwo">
								选择症状
							</a>
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<!-- 内容 -->
						<br>
						<div class="input-group">
						    <span class="input-group-addon btn btn-primary" data-toggle="modal" data-target="#myZhilModal" >主症</span>
						    <input type="text" class="form-control input-lg" placeholder="请输入主症">
						</div>
						<br>
						<div class="input-group">
						    <span class="input-group-addon btn btn-primary">兼症</span>
						    <input type="text" class="form-control input-lg" placeholder="请输入兼症">
						</div>
						<br>
						<div class="input-group">
						    <span class="input-group-addon btn btn-primary">舌象</span>
						    <input type="text" class="form-control input-lg" placeholder="请输入舌象">
						</div>
						<br>
						<div class="input-group">
						    <span class="input-group-addon btn btn-primary">脉相</span>
						    <input type="text" class="form-control input-lg" placeholder="请输入脉相">
						</div>
						<br>
						<div class="input-group">
						    <span class="input-group-addon btn btn-primary">某某</span>
						    <input type="text" class="form-control input-lg" placeholder="可不输入">
						</div>
						<br>
						<div class="input-group">
						    <span class="input-group-addon btn btn-primary">某某</span>
						    <input type="text" class="form-control input-lg" placeholder="可不输入">
						</div>
						<br>
						<div class="input-group">
						    <span class="input-group-addon btn btn-primary">辩证</span>
						    <input type="text" class="form-control input-lg" >
						</div>
					</div>
					<!-- 模态框内容开始 -->
					<div class="modal fade" id="myZhilModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			            <div class="modal-dialog" >
		                    <!-- 滚动监听 -->
		                    <div data-spy="scroll" data-target="#navbar-example" data-offset="0" style="height:530px; width:600px; overflow:auto; border-radius:10px;  background-color:#FFFBF0 ">
		                    	<!-- 选项卡 -->
								<ul id="myTabmot" class="nav nav-tabs">
								    <li class="active">
								      <a href="#homemot" data-toggle="tab">
								        分类
								      </a>
								    </li>
								    <li>
								   		<a href="#iosmot" data-toggle="tab">
								   		检索</a>
								   	</li>
								   	<li>
								   		<a href="#changyong" data-toggle="tab">常用选择</a>
								   	</li>
								</ul>
								<div id="myTabContentmot" class="tab-content">
								    <div class="tab-pane fade in active" id="homemot">
								       <!-- 内容 -->
								     	<div class="mtfenlzuo">
								     		<!-- 滚动监听 -->
		                    				<div data-spy="scroll" data-target="#navbar-example" data-offset="0" class="mtfenlzuogdjt">
												<p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p><p>头疼</p>
								     		</div>
								     	</div>
								     	<!-- 全选按钮 -->
								     	<div class="mtfenlyou">
								     		<!-- 上 -->
								<div style=" width:100%; height: 80px; background-color: #F0F0F0; text-align: center; ">
									<!-- 按钮 -->
									<div style="  height: 50px; ">
											<input type="text" style="margin-top:10px;  "> 搜索
											<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" >确定</button>
										</div>
										
									<div style="margin-top: 5px;">
										<input type="radio" name="a1name" class="btn" id="yixuanSelectAll">
										<label for="yixuanSelectAll">已选</label>
										<input type="radio"  name="a1name" class="btn" id="weixuanSelectAll">
										<label for="weixuanSelectAll">未选</label>
										<input type="radio" name="a1name" class="btn" id="quanXuanselectAll">
										<label for="quanXuanselectAll">全选</label>
										<input type="radio"  name="a1name" class="btn" id="quanBuXuanSelect">
										<label for="quanBuXuanSelect">全不选</label>
										<input type="radio" value="显示全部" name="a1name" class="btn" id="quanbuSelectAll">
										<label for="quanbuSelectAll">显示全部</label>
									</div>

								</div>
								<div style=" width:350px; height: 370px;">
									<ul id="xuanZlist">
										<button  class=" btn btn-info bto-xs" style=" margin-top: 10px; color: #000000; " >设为常用症状</button>
									   <li style=" list-style-type:none; border: 1px #F0F0F0 solid; border-width: 0 0 1px 0; "">
											<label><input type="checkbox" value="1"> 1.时间都去哪儿了</label>
										</li>
									   <li style=" list-style-type:none; border: 1px #F0F0F0 solid; border-width: 0 0 1px 0; "">
											<label><input type="checkbox" value="2"> 2.海阔天空</label>
										</li>
									   <li style=" list-style-type:none; border: 1px #F0F0F0 solid; border-width: 0 0 1px 0; "">
											<label><input type="checkbox" value="3"> 3.真的爱你</label>
										</li>
									   <li style=" list-style-type:none; border: 1px #F0F0F0 solid; border-width: 0 0 1px 0; "">
											<label><input type="checkbox" value="4"> 4.不再犹豫</label>
										</li>
									   <li style=" list-style-type:none; border: 1px #F0F0F0 solid; border-width: 0 0 1px 0; "">
											<label><input type="checkbox" value="5"> 5.光辉岁月</label>
										</li>
									   <li style=" list-style-type:none; border: 1px #F0F0F0 solid; border-width: 0 0 1px 0; "">
											<label><input type="checkbox" value="6"> 6.喜欢妳</label>
										</li>
									</ul>
								</div>
								     	</div>
								     	<div class="quxiaofdmtfenl"></div>
								    </div>
								    <div class="tab-pane fade" id="iosmot">
								      <!-- 内容 -->
								     收到
								    </div>
								    <div class="tab-pane fade" id="changyong">
								      <!-- 内容 -->
								    	常用选择
								    </div>
								   
								</div>
		                    </div>
			                <div data-dismiss="modal" style=" width:40px; position:absolute; top:0px;right:12px;"><button  class="btn ">&times;</button></div>
			            </div><!-- /.modal-dialog -->
			        </div>
					<!-- 模态框内容结束 -->
				</div>
			</div>
		</div>
		<div class="zhongyou">
			<div class="zhongyoushang">
				<div class="zysbiaoge1">
					<!-- 表格 -->
					<div data-spy="scroll" data-target="#navbar-example" data-offset="0"  class="ka3YouShangDakuaiChuFang">
					    <form action="ads">
							 <table  style="width:100%; border: 1px #F0F0F0 solid;" border='1' cellspacing="0">
							 	<tr >
							 		<th style="width:50px; text-align: center; background-color:#D7D715; ">选择</th>
							 		<th style="width:200px; text-align: center; background-color:#D7D715;">证型</th>
							 		<th style="width:200px; text-align: center; background-color:#D7D715;">治则</th>
							 		<th style="width:200px; text-align: center; background-color:#D7D715;">选用类表</th>
							 		<th style="width:300px; text-align: center; background-color:#D7D715;">备注</th>
							 	</tr>

								<tr onclick="dianjiyou(this)">
									<td style=" border: 1px #F0F0F0 solid; height:20px;text-align:center;">
										<input type="checkbox" name="aa" value="jlk">
									</td>
									<td style="border: 1px #F0F0F0 solid; ">
										头疼症
									</td>
									<td style="border: 1px #F0F0F0 solid; ">就是头疼别的没啥</td>
									<td style="border: 1px #F0F0F0 solid; ">疏风清热</td>
									<td style="border: 1px #F0F0F0 solid; ">治头疼的</td>
								</tr>
								<tr onclick="dianjiyou(this)">
									<td style=" border: 1px #F0F0F0 solid; height:20px;text-align:center;">
										<input type="checkbox" name="aa" value="jlk">
									</td>
									<td style="border: 1px #F0F0F0 solid; ">
										头疼症
									</td>
									<td style="border: 1px #F0F0F0 solid; ">就是头疼别的没啥</td>
									<td style="border: 1px #F0F0F0 solid; ">疏风清热</td>
									<td style="border: 1px #F0F0F0 solid; ">治头疼的</td>
								</tr>
								
							 </table>
						</form>
					</div>
				</div>
				<div class="zysbiaoge2">
					<!-- 表格 -->
					<div data-spy="scroll" data-target="#navbar-example" data-offset="0"  class="ka3YouShangDakuaiChuFang2">
					    <form action="ads">
							 <table  style="width:100%; border: 1px #F0F0F0 solid;" border='1' cellspacing="0">
							 	<tr >
							 		<th style="width:50px; text-align: center; background-color:#D7D715; ">选择</th>
							 		<th style="width:200px; text-align: center; background-color:#D7D715;">方剂名称</th>
							 		
							 	</tr>

								<tr onclick="dianjiyou(this)">
									<td style=" border: 1px #F0F0F0 solid; height:20px;text-align:center;">
										<input type="checkbox" name="aa" value="jlk">
									</td>
									<td style="border: 1px #F0F0F0 solid; ">
										治头疼的
									</td>
									
								</tr>
								
								
							 </table>
						</form>
					</div>
				</div>
				<div class="quxiaofudzysbiaoge"></div>
			</div>
			<div>
				<div class="zhongyouxia">
					<!-- 选项卡 -->
					<!-- 选项卡 -->
					<ul id="myTab" class="nav nav-tabs">
					   <li class="active">
					      <a href="#home" data-toggle="tab">
					        <img src="__PUBLIC__/img/bg.png"  alt="别急图片马上出来">药解
					      </a>
					   </li>
					   <li><a href="#ios" data-toggle="tab">
					   		<img src="__PUBLIC__/img/fj.png" alt="别急图片马上出来">方解</a>
					   	</li>
					   	<li>
					   		<!-- 按钮 -->
					   		<!-- <div class="xuandinagcfang" >
					    		<button  class="btn  btn-success" style="width: 100px; " ><b style="color: #000000; ">选定此方</b></button>
					    		<button  class="btn btn-warning" style="width: 100px; margin-left: 20px; " ><b style="color: #000000; ">退出</b></button>
					    	</div> -->
					   	</li>
					</ul>
					<div id="myTabContent" class="tab-content">
					   <div class="tab-pane fade in active" id="home">
					       <!-- 内容 -->
					       <!-- 下侧处方 -->
						<div data-spy="scroll" data-target="#navbar-example" data-offset="0" class="ka3xiaCeChuFang">
							<table>
								<div  class="ka3xiaCeChuFangZI">
									<strong>方剂名称:<尽量快圣诞节（爱思）></strong>
								</div>
								<div style="width: 700px;">
									<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
										<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
										<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
										<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
										<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
									</div>
								</div>
								<div style="width: 700px;">
									<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
										<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
										<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
										<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
										<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
									</div>
								</div>
								<div style="width: 700px;">
									<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
										<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
										<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
										<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
										<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
									</div>
								</div>
								<div style="width: 700px;">
									<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
										<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
										<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
										<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
										<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
									</div>
								</div>
								<div style="width: 700px;">
									<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
										<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
										<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
										<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
										<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
									</div>
								</div>
								<div style="width: 700px;">
									<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
										<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
										<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
										<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
										<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
									</div>
								</div>
								<div style="width: 700px;">
									<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
										<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
										<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
										<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
										<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
									</div>
								</div>
								<div style="width: 700px;">
									<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
										<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
										<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
										<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
										<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
									</div>
								</div>
								<div style="width: 700px;">
									<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
										<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
										<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
										<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
										<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
									</div>
								</div>
								<div style="width: 700px;">
									<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
										<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
										<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
										<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
										<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
									</div>
								</div>
							</table>
						</div>
						
				    	
					   </div>
					   <div class="tab-pane fade" id="ios">
					      <!-- 内容 -->
					      <div style="border: 1px #FFFBF0 solid;width: 600px; height: 50px; text-align:center; font-size:20px;color:#8E852D">
										<strong>方剂名称:<尽量快圣诞节（爱思）></strong>	
							</div>
							<div style=" width: 600px; margin:20px; ">
								<strong>方解：</strong>家里卡手机登录方可将阿里卡世纪东方
							</div>
							<div style=" width: 600px; margin:20px; "><strong>来源：</strong></div>
							<div style=" width: 600px; margin:20px; "><strong>功效：</strong></div>
							<div style=" width: 600px; margin:20px; "><strong>主治：</strong></div>
							<div style=" width: 600px; margin:20px; "><strong>用法：</strong></div>
					   </div>
					   
					</div>
				</div>
				<div class="zhongyouanniu">
					<!-- 按钮 -->
					<div>
						<button  class="btn btn-success" style="width: 100px;"><b style="color: #000000;">选定此方</b></button>
					</div>
					<br>
		    		<div>
		    			<button  class="btn btn-warning" style="width: 100px;"><b style="color: #000000; width: 100px;">退出</b></button>
		    		</div>
				</div>
				<div class="qingchuzhongyouanniu"></div>
			</div>
				
		</div>
		<div class="qichuzhongfudong"></div>
	</div>
    <!-- 全选 未选 已选 -->
	<script type="text/javascript">
		$("#yixuanSelectAll").click(function () {
			// alert(123)
		        // 把选择的显示为选择的隐藏
		    $("#xuanZlist :checkbox").each(function () { 
		        	$(this).parents("li").show(); 
		        	if(!$(this).prop("checked")){
		        		$(this).parents("li").hide();
		        	}
		        });
			});
			// 把所有的显示
			$("#quanbuSelectAll").click(function(){
				$("#xuanZlist :checkbox").each(function () {  
		           $(this).parents("li").show();  
		        });
			});
			// 未选
			$("#weixuanSelectAll").click(function(){
				$("#xuanZlist :checkbox").each(function () { 
					$(this).parents("li").show(); 
		        	if($(this).prop("checked")){
		        		$(this).parents("li").hide();
		        	}
		        });
			});
			//全选  
		    $("#quanXuanselectAll").click(function () {
		        $("#xuanZlist :checkbox,#all").prop("checked", true); 
		        //再次点击变为全不选 
		        $(this).click(function(){
		        	 $("#xuanZlist :checkbox,#all").prop("checked", false);
		        }); 
		    }); 
		    //全不选
		    $("#quanBuXuanSelect").click(function () {  
		         $("#xuanZlist :checkbox,#all").prop("checked", false);  
		    }); 
	</script>
</block>