<extend name="Public/base.html"/>
<block name="link">
	<!-- <link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
	<!-- 自己写的css -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/yeMiancss/kaiFang1.css">
	<!-- bootstrap的引用 -->
    <!-- <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script> -->
</block>
<block name="zhuti">
	
	<!-- 内容 -->
	<div>
		
    	<!-- 搜索 -->
    	<div class="shangcesousuo">
    		<!-- 病名搜索 -->
    		<div class="bingmingsousuo">
    			<div class="input-group ">  
			       <input type="text" class="form-control"placeholder="请输入病名" / >  
		            <span class="input-group-btn">  
		                <button class="btn btn-info btn-search">
		               		<b style="color: #000000;">查找</b>
		               	</button>  
		            </span>
				</div>
    		</div>
    		<!-- 整形搜索 -->
    		<div class="zhengxingsousuo">
    			<div class="input-group ">  
			       <input type="text" class="form-control"placeholder="请输入证型名" / >  
		            <span class="input-group-btn">  
		                <button class="btn btn-info btn-search">
		               		<b style="color: #000000;">查找</b>
		               	</button>  
		            </span>  
				</div>
    		</div>
			<div class="qingchusoufudong"></div>
    	</div>
    	
    	<div data-spy="scroll" data-target="#navbar-example" data-offset="0" class="kaishangzuo">
				 <table class="table table-condensed">
				 	<tr height="20">
				 		<th class="trdebingming">病名</th>
				 	</tr>
					<tr onclick="dianjiyou(this)">
						<td>麻杏石甘汤</td>
					</tr>
					<tr onclick="dianjiyou(this)">
						<td>麻杏石甘汤</td>
					</tr>
					<tr onclick="dianjiyou(this)">
						<td>麻杏石甘汤</td>
					</tr>
					<tr onclick="dianjiyou(this)">
						<td>麻杏石甘汤</td>
					</tr>
					<tr onclick="dianjiyou(this)">
						<td>麻杏石甘汤</td>
					</tr>
					<tr onclick="dianjiyou(this)">
						<td>麻杏石甘汤</td>
					</tr>
					<tr onclick="dianjiyou(this)">
						<td>麻杏石甘汤</td>
					</tr>
					<tr onclick="dianjiyou(this)">
						<td>麻杏石甘汤</td>
					</tr>
				 </table>
		</div>
		<!-- 右侧处方 -->
		<div data-spy="scroll" data-target="#navbar-example" data-offset="0" class="ka1youcechufang">
			 <form action="ads">
				 <table  class="table table-condensed">
				 	<tr height="30" >
				 		<th style="width:50px;  background-color:#D7D715; text-align:center; ">选择</th> 
				 		<th style="width:200px; background-color:#D7D715; text-align:center; ">证型</th>
				 		<th style="width:200px; background-color:#D7D715; text-align:center;">治法</th>
				 		<th style="width:300px; background-color:#D7D715; text-align:center; ">处方名称</th>
				 	</tr>
					<tr onclick="dianjiyou(this)" style="border: 1px #DFD7D7 solid;">
						<td style=" border: 1px #DFD7D7 solid; height:20px; text-align:center; ">
							<input type="checkbox" name="aa" value="jlk">
						</td>
						<td style="border: 1px #DFD7D7 solid; ">
							实喘-表寒肺热证
						</td>
						<td style="border: 1px #DFD7D7 solid; ">化痰平喘</td>
						<td style="border: 1px #DFD7D7 solid; ">麻杏石甘汤</td>
					</tr>
					<tr onclick="dianjiyou(this)">
						<td style=" border: 1px #DFD7D7 solid; height:20px; text-align:center; ">
							<input type="checkbox" name="aa" value="jlk">
						</td>
						<td style="border: 1px #DFD7D7 solid; ">
							实喘-表寒肺热证
						</td>
						<td style="border: 1px #DFD7D7 solid; ">化痰平喘</td>
						<td style="border: 1px #DFD7D7 solid; ">麻杏石甘汤</td>
					</tr>
					<tr onclick="dianjiyou(this)">
						<td style=" border: 1px #DFD7D7 solid; height:20px; text-align:center; ">
							<input type="checkbox" name="aa" value="jlk">
						</td>
						<td style="border: 1px #DFD7D7 solid; ">
							实喘-表寒肺热证
						</td>
						<td style="border: 1px #DFD7D7 solid; ">化痰平喘</td>
						<td style="border: 1px #DFD7D7 solid; ">麻杏石甘汤</td>
					</tr>
					<tr onclick="dianjiyou(this)">
						<td style=" border: 1px #DFD7D7 solid; height:20px; text-align:center; ">
							<input type="checkbox" name="aa" value="jlk">
						</td>
						<td style="border: 1px #DFD7D7 solid; ">
							实喘-表寒肺热证
						</td>
						<td style="border: 1px #DFD7D7 solid; ">化痰平喘</td>
						<td style="border: 1px #DFD7D7 solid; ">麻杏石甘汤</td>
					</tr>
					<tr onclick="dianjiyou(this)">
						<td style=" border: 1px #DFD7D7 solid; height:20px; text-align:center; ">
							<input type="checkbox" name="aa" value="jlk">
						</td>
						<td style="border: 1px #DFD7D7 solid; ">
							实喘-表寒肺热证
						</td>
						<td style="border: 1px #DFD7D7 solid; ">化痰平喘</td>
						<td style="border: 1px #DFD7D7 solid; ">麻杏石甘汤</td>
					</tr>
					<tr onclick="dianjiyou(this)">
						<td style=" border: 1px #DFD7D7 solid; height:20px; text-align:center; ">
							<input type="checkbox" name="aa" value="jlk">
						</td>
						<td style="border: 1px #DFD7D7 solid; ">
							实喘-表寒肺热证
						</td>
						<td style="border: 1px #DFD7D7 solid; ">化痰平喘</td>
						<td style="border: 1px #DFD7D7 solid; ">麻杏石甘汤</td>
					</tr>
					<tr onclick="dianjiyou(this)">
						<td style=" border: 1px #DFD7D7 solid; height:20px; text-align:center; ">
							<input type="checkbox" name="aa" value="jlk">
						</td>
						<td style="border: 1px #DFD7D7 solid; ">
							实喘-表寒肺热证
						</td>
						<td style="border: 1px #DFD7D7 solid; ">化痰平喘</td>
						<td style="border: 1px #DFD7D7 solid; ">麻杏石甘汤</td>
					</tr>
				 </table>
			 </form>
		</div>
		<div class="qingchuchufangfudong"></div>
		<!-- 中间汉字 -->
		<div class="zhongjianhanzi">
				<img src="__PUBLIC__/img/iconpng.png" class="zhongjianhanziimg" alt="图片加载中。。。。">
			<span class="zhongjianhanzichu">
				<b>处方信息</b>
			</span>
			<span class="zhongjianhanzizhu " >
				<b>注：双击药品名称。显示药解信息！</b>
			</span>
		</div>
		<div>
			<!-- 下侧处方 -->
			<div data-spy="scroll" data-target="#navbar-example" data-offset="0"  class="ka1xXiaceChufang">
				<table>
					<div class="ka1xXiacehanzi" >
						<strong>方剂名称:<尽量快圣诞节（爱思）></strong>	
					</div>
					<div style="width: 700px;">
						<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
							<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
							<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
							<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
							<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
						</div>
					</div>
					<div style="width: 700px;">
						<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
							<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
							<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
							<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
							<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
						</div>
					</div>
					<div style="width: 700px;">
						<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
							<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
							<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
							<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
							<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
						</div>
					</div>
					<div style="width: 700px;">
						<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
							<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
							<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
							<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
							<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
						</div>
					</div>
					<div style="width: 700px;">
						<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
							<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
							<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
							<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
							<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
						</div>
					</div>
					<div style="width: 700px;">
						<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
							<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
							<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
							<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
							<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
						</div>
					</div>
					<div style="width: 700px;">
						<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
							<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
							<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
							<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
							<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
						</div>
					</div>
					<div style="width: 700px;">
						<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
							<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
							<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
							<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
							<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
						</div>
					</div>
					<div style="width: 700px;">
						<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
							<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
							<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
							<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
							<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
						</div>
					</div>
					<div style="width: 700px;">
						<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
							<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
							<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
							<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
							<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
						</div>
					</div>
				</table>
			</div>
			<div class="chuFangHeBingkuang" >
				<div>
					<input type="checkbox" id="chuFangHeBing">
	    			<label for="chuFangHeBing">处方合并</label>
				</div>
				<br>
	    		<div>
	    			<a href="{:U('Kaifang/zykf')}"><button  class="btn  btn-success" style="width: 100px;" ><b style="color: #000000;">选定此方</b></button></a>
	    		</div>
	    		<br>
	    		<div>
		    		<button  class="btn btn-danger" style=" width: 100px; " ><b style="color: #000000;">退出</b></button>
	    		</div>
	    	</div>
	    	<!-- 清除合并浮动 -->
	    	<div class="qingchuhebingfudong"></div>
		</div>
			
    </div>
    <!-- 点击换色的js -->
	<script type="text/javascript">
		// <!-- 点击换色的js -->
		function changeTrColor(obj){  
		// alert(56); 
		    var _table=obj.parentNode;
		    for (var i=0;i<_table.rows.length;i++){
		        _table.rows[i].style.backgroundColor="";
		    }   
		    obj.style.backgroundColor="#3399FF";
		}
		// 右侧处方名点击变色
		function dianjiyou(obj){   
			// alert(123);
		    var _tableyou=obj.parentNode;
		    for (var i=0;i<_tableyou.rows.length;i++){
		        _tableyou.rows[i].style.backgroundColor="";
		    }   
		    obj.style.backgroundColor="#3399FF";
		}
	</script>
	
</block>