<extend name="Public/base.html"/>
<block name="link">
	<!-- 自己写的css -->
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/yeMiancss/kaiFang3.css">
</block>
<block name="zhuti">
	<div style=" width: 100%;height: 100%; ">
		<!-- 使边框中有文字 -->
		<div class="ka1dadekuang1">
			<div class="input-group ">  
			       <input type="text" class="form-control"placeholder="请输入病名" / >  
		            <span class="input-group-btn">  
		                <button class="btn btn-info btn-search">
		               		<b style="color: #000000;">查找</b>
		               	</button>  
		            </span>
				</div>
		</div>
		<!-- 治疗指南的模态框 -->
		<div class="zlznmtk">
			<button  class="btn  btn-info btn-sm " data-toggle="modal" data-target="#myZhilModal" >
				<b style="color: #000000; " >治疗指南</b>
			</button>
			
		</div>
			<!-- 模态框内容开始 -->
			<div class="modal fade" id="myZhilModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	            <div class="modal-dialog" >
	                    <!-- 滚动监听 -->
	                    <div data-spy="scroll" data-target="#navbar-example" data-offset="0" style="height:530px; width:600px; overflow:auto; border-radius:10px;  background-color:#FFFBF0 ">
	                    	<div style="text-align: center;">
	                    		<h3>名称</h3>
	                    	</div>
	                    	<p>标题：阿萨德发生大</p>
	                    	<p>内容：问问哦</p>
	                    </div>
	                <div data-dismiss="modal" style=" width:40px; position:absolute; top:0px;right:12px;"><button  class="btn ">&times;</button></div>
	            </div><!-- /.modal-dialog -->
	        </div>
			<!-- 模态框内容结束 -->
		<div class="ka1dadekuang2" >

			<div class="input-group ">  
			       <input type="text" class="form-control"placeholder="请输入病名" / >  
		            <span class="input-group-btn">  
		                <button class="btn btn-info btn-search">
		               		<b style="color: #000000;">查找</b>
		               	</button>  
				</div>
		</div>
    	<!-- <div class="ka1shangyou" >
    		<input type="checkbox" id="chuFangHeBing">
    		<label for="chuFangHeBing">处方合并</label>
    		<button  class="btn  btn-success" style="margin-left: 20px; color: #000000; margin-right: 20px;" ><b>选定此方</b></button>
    		<button  class="btn btn-warning" style="color: #000000; " ><b>退出</b></button>
    	</div> -->
		<div class="qingchushangfudong"></div>
    	<!-- 滚动监听 -->
    	<!--  主题内容-->
			<!-- 左大块 -->
			<div class="ka3ZuoDaKuai">
				<!-- 折叠 -->
				<div><h3>中华中医药学会</h3></div>
				<div class="panel-group" id="accordion">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" 
								   href="#collapseTwo">
									内科
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								<p>咳血</p>
								<p>咳血</p>
								<p>咳血</p>
								<p>哮病</p>
								<p>哮病</p>
								<p>哮病</p>
								<p>消渴</p>
								<p>消渴</p>
								<p>消渴</p>
								<p>消渴</p>
								<p>消渴</p>
								<p>消渴</p>
								<p>消渴</p>
								<p>消渴</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" 
								   href="#collapseThree">
									外科
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								<p>grr</p>
								<p>grr</p>
								<p>grr</p>
								<p>grr</p>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" 
								   href="#collapseFour">
									脑科
								</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse">
							<div class="panel-body">
								<p>grr</p>
								<p>grr</p>
								<p>grr</p>
								<p>grr</p>
							</div>
						</div>
					</div>
				</div>
					
			</div>
			<!-- 右大块浮动 -->
			<div class="ka3YouDaKuai" >
				<!-- 右上大块 -->
					<div   class="ka3YouShangDakuaiChuFang">
					    <form action="ads">
							 <table  style="width:100%; border: 1px #F0F0F0 solid;" border='1' cellspacing="0">
							 	<tr >
							 		<th style="width:50px; text-align: center; background-color:#D7D715; ">选择</th>
							 		<th style="width:200px; text-align: center; background-color:#D7D715;">辩证</th>
							 		<th style="width:200px; text-align: center; background-color:#D7D715;">说明</th>
							 		<th style="width:200px; text-align: center; background-color:#D7D715;">分证论治</th>
							 		<th style="width:300px; text-align: center; background-color:#D7D715;">处方名称</th>
							 	</tr>

								<tr onclick="dianjiyou(this)">
									<td style=" border: 1px #F0F0F0 solid; height:20px;text-align:center;">
										<input type="checkbox" name="aa" value="jlk">
									</td>
									<td style="border: 1px #F0F0F0 solid; ">
										头疼症
									</td>
									<td style="border: 1px #F0F0F0 solid; ">就是头疼别的没啥</td>
									<td style="border: 1px #F0F0F0 solid; ">疏风清热</td>
									<td style="border: 1px #F0F0F0 solid; ">治头疼的</td>
								</tr>
								<tr onclick="dianjiyou(this)">
									<td style=" border: 1px #F0F0F0 solid; height:20px;text-align:center;">
										<input type="checkbox" name="aa" value="jlk">
									</td>
									<td style="border: 1px #F0F0F0 solid; ">
										头疼症
									</td>
									<td style="border: 1px #F0F0F0 solid; ">就是头疼别的没啥</td>
									<td style="border: 1px #F0F0F0 solid; ">疏风清热</td>
									<td style="border: 1px #F0F0F0 solid; ">治头疼的</td>
								</tr>
								
							 </table>
						</form>
					</div>
				<!-- 中间汉字 -->
				<div class="ka3youShangHanZi">
					<span  class="ka3youShangHanZi1">
						<img src="__PUBLIC__/img/iconpng.png" style="width:30px;" alt="图片加载中。。。。">
					</span>
					<!-- <span class="ka3youShangHanZi2"> -->
						<b class="ka3youShangHanZi2">处方信息</b>
					<!-- </span> -->
					<span class="ka3youShangHanZi3 " >
						<b>注：双击药品名称。显示药解信息！</b>
					</span>
				</div>
				<div style="width: 100%;height: 100%;">
					<!-- 下侧处方 -->
					<div data-spy="scroll" data-target="#navbar-example" data-offset="0" class="ka3xiaCeChuFang">
						<table>
							<div  class="ka3xiaCeChuFangZI">
								<strong>方剂名称:<尽量快圣诞节（爱思）></strong>
							</div>
							<div style="width: 700px;">
								<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
									<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
									<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
									<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
									<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
								</div>
							</div>
							<div style="width: 700px;">
								<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
									<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
									<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
									<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
									<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
								</div>
							</div>
							<div style="width: 700px;">
								<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
									<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
									<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
									<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
									<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
								</div>
							</div>
							<div style="width: 700px;">
								<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
									<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
									<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
									<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
									<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
								</div>
							</div>
							<div style="width: 700px;">
								<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
									<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
									<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
									<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
									<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
								</div>
							</div>
							<div style="width: 700px;">
								<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
									<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
									<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
									<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
									<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
								</div>
							</div>
							<div style="width: 700px;">
								<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
									<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
									<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
									<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
									<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
								</div>
							</div>
							<div style="width: 700px;">
								<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
									<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
									<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
									<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
									<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
								</div>
							</div>
							<div style="width: 700px;">
								<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
									<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
									<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
									<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
									<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
								</div>
							</div>
							<div style="width: 700px;">
								<div  style=" float:left; margin:5px; border-radius:5px;  width:150px; height:100px; border: 1px #000000 solid;">
									<div style="border: 1px #FFFBF0 solid; width:10px; position:relative; left: 5px; top: 5px; color: red;">1</div>
									<div style="border: 1px #000000 solid; width:40px; border-width:0 0 1px 0;position:relative; left: 100px; top: -10px;">后下</div>
									<div style="border: 1px #000000 solid; width:80px; border-width:0 0 1px 0;  position:relative; left: 10px; top: -5px; font-size:20px; ">前胡</div>
									<div style="border: 1px #000000 solid; width:70px; border-width: 0 0 1px 0; position:relative; left: 50px; top: 0px; text-align: right;">9.00克</div>
								</div>
							</div>
						</table>
					</div>
					<div class="ka1zuihouanniu" >
			    		<input type="checkbox" id="chuFangHeBing">
			    		<label for="chuFangHeBing" ><b style="color: #000000; font-size: 15px;">处方合并</b></label>
			    		<div>
			    		<button  class="btn btn-success" style="width: 100px;"><b style="color: #000000;">选定此方</b></button>
			    		</div>
						
			    		<div class="chuFangHeBingtuichu">
			    		<button  class="btn btn-warning" style="width: 100px;"><b style="color: #000000; width: 100px;">退出</b></button>
			    		</div>
			    	</div>
			    	<div class="qingchuanniufudong"></div>
				</div>
					
			</div>
			<!-- 清除浮动 -->
			<div class="qingchushangfudong"></div>
    </div>
     <!-- 点击换色的js -->
	<script type="text/javascript">
		// <!-- 点击换色的js -->
		function changeTrColor(obj){  
		// alert(56); 
		    var _table=obj.parentNode;
		    for (var i=0;i<_table.rows.length;i++){
		        _table.rows[i].style.backgroundColor="";
		    }   
		    obj.style.backgroundColor="#3399FF";
		}
		// 右侧处方名点击变色
		function dianjiyou(obj){   
			// alert(123);
		    var _tableyou=obj.parentNode;
		    for (var i=0;i<_tableyou.rows.length;i++){
		        _tableyou.rows[i].style.backgroundColor="";
		    }   
		    obj.style.backgroundColor="#3399FF";
		}
	</script>
	<!-- 简单树形的js -->
	<script type="text/javascript"> 
		window.onload = function()
		{
			var cate = document.getElementById("categoryTree");
			var bBs = cate.getElementsByTagName("p");
			var len = bBs.length;
			if (len > 0)
			{
				for (var i = 0; i < len; i++) {
					var oTag = bBs[i].parentNode.getElementsByTagName("ul")[0];
					if (oTag) {
						bBs[i].style.background = "#666";
						bBs[i].onclick = function() {
							var oTag = this.parentNode.getElementsByTagName("ul")[0];
							if (!(oTag.open)) {
								oTag.style.display = "none";
								oTag.open = true;
							} else {
								oTag.style.display = "block";
								oTag.open = null;
							}
						}
					}
				}
			} else {
				throw new Error("html struct error!");
			}
		}
	</script>
</block>