<extend name="Public/base.html" />
<block name="link">
	<link rel="stylesheet" href="__PUBLIC__/muban/assets/css/chaxun.css">
	<script type="text/javascript" src="__PUBLIC__/muban/assets/jedate/jedate.js"></script>
</block>
<block name="zhuti">
	<div class="ypsy_top">
		<img src="__PUBLIC__/muban/assets/img/chaxun.png" width="30" height="30">
		<div class="h">查询条件:</div>
	</div>
	<div class="ypsy_cxtj">
		<span>日期范围:</span>
			<input id="start" name="start" type="text" readonly onClick="jeDate({dateCell:'#start',format:'YYYY-MM-DD'})"> <b>至</b>
			<input id="end" name="end" type="text" readonly onClick="jeDate({dateCell:'#end',format:'YYYY-MM-DD'})">
			&nbsp;&nbsp;
			<span>按药名:</span><input type="text" name="ypsy_ypname" value="">

	</div>
	<div class="ypsy_center">
		<table class="table table-striped">
			<caption>药品使用统计</caption>
			<caption>查询日期：</caption>
			<thead>
				<tr>
					<th>药品名称</th>
					<th>规格</th>
					<th>剂型</th>
					<th>数量</th>
					<th>单位</th>
					<th>金额</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Tanmay</td>
					<td>Bangalore</td>
					<td>560001</td>
					<td>Tanmay</td>
					<td>Bangalore</td>
					<td>560001</td>
				</tr>
				<tr>
					<td>Sachin</td>
					<td>Mumbai</td>
					<td>400003</td>
					<td>Sachin</td>
					<td>Mumbai</td>
					<td>400003</td>
				</tr>
				<tr>
					<td>Uma</td>
					<td>Pune</td>
					<td>411027</td>
					<td>Uma</td>
					<td>Pune</td>
					<td>411027</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="ypsy_bottom">
		<div class="ypsy_bottom_c">
			<span class="btn btn-success"><p>统计</p></span>
			<span class="btn btn-warning"><p>打印</p></span>
			<span class="btn btn-warning"><p>清除</p></span>
			<span class="btn btn-danger"><p>退出</p></span>
			<p class=""></p>
		</div>
	</div>
	<script type="text/javascript">
    	jeDate.skin('gray');
	</script>
</block>