<extend name="Public/base.html" />
<block name="title">
    <title>患者登记</title>
</block>
<block name="link">
    <link rel="stylesheet" href="__PUBLIC__/css/chaxun.css">
    <script src="__PUBLIC__/js/Birthday-Calendar.js"></script>
</block>
<block name="zhuti">
    <div class="bg">
        <div class="title center" id="title">
            查询窗口
        </div>
        <div class="chaxun center">
            <div>
                <img src="__PUBLIC__/img/chaxun.png" alt="图片加载失败！">
            </div>
            <div class="cxfont">
                查询条件:
            </div>
            <div class="nb">
                <label for="userName">姓名：</label>
                <span><input type="text" id="userName"></span>
            </div>
            <div class="nb">
                <label><span><input type="checkbox"></span><span>性别：</span></label>
                <label><span><input type="radio" name="sex" checked="checked"><span>男</span></span></label>
                <label><span><input type="radio" name="sex"><span>女</span></span></label>
            </div>
            <div class="nb">
                <span><label for="blh">病历号：</label></span>
                <span><input type="text" id="blh"></span>
            </div>
            <div class="nb">
                <span>挂号日期：</span>
                <span><input type="text" class="ghrq" onfocus="new Calendar().show(this)" readonly="readonly"></span>
                <span>至</span>
                <span><input type="text" class="ghrq" onfocus="new Calendar().show(this)" readonly="readonly"></span>
            </div>
            <div class="but">
                <button class="btn btn-warning"><i class="glyphicon glyphicon-search"></i>查询</button>
            </div>
        </div>
        <div class="cxtable center">
            <table border="0" width="100%" class="table1">
                <tr>
                    <td width="5%">病历号</td>
                    <td width="5%">姓名</td>
                    <td width="3%">性别</td>
                    <td width="8%">挂号日期</td>
                    <td width="10%">身份证</td>
                    <td width="8%">出生日期</td>
                    <td width="20%">单位</td>
                    <td width="8%">电话</td>
                    <td width="8%">传真</td>
                    <td width="10%">E-Mail</td>
                    <td width="8%">预约日期</td>
                    <td width="7%">操作</td>
                </tr>
                <tr class="cxtr1">
                    <td>000011</td>
                    <td>阿布</td>
                    <td>男</td>
                    <td>2016-12-07</td>
                    <td>133333333333333333</td>
                    <td>1993-01-11</td>
                    <td>河北省石家庄市睿和中心河北鹏宇电子科技有限公司</td>
                    <td>18333333333</td>
                    <td>0311-4545454564</td>
                    <td>asdsa@qq.com</td>
                    <td>2016-12-07</td>
                    <td>
                        <span>登记</span>
                        <span>预约</span>
                    </td>
                </tr>
                <tr class="cxtr1">
                    <td>000011</td>
                    <td>阿布</td>
                    <td>男</td>
                    <td>2016-12-07</td>
                    <td>133333333333333333</td>
                    <td>1993-01-11</td>
                    <td>河北省石家庄市睿和中心河北鹏宇电子科技有限公司</td>
                    <td>18333333333</td>
                    <td>0311-4545454564</td>
                    <td>asdsa@qq.com</td>
                    <td>2016-12-07</td>
                    <td>
                        <span>登记</span>
                        <span>预约</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="fenye center">
            <span>共查询出<span id="sickNum">0</span>位病人</span>
            <span>当前第1/N页</span>
            <span>上一页</span>
            <span>下一页</span>
        </div>
    </div>
</block>