<extend name="Public/base.html" />
<block name="link">
    <link rel="stylesheet" href="__PUBLIC__/css/dengji.css">
    <script src="__PUBLIC__/js/Birthday-Calendar.js"></script>
</block>
<block name="zhuti">

    <div class="bg">
        <div class="title">患者登记</div>
        <div class="title2 center">
            <div>
                <img src="__PUBLIC__/img/reg.png" alt="图片加载失败！">
            </div>
            <div class="djfont">
                患者基本信息
            </div>
            <div class="djdate">
                <span>日期：</span>
                <span class="djrq"></span>
            </div>
        </div>
        <form action="#" method="post">
            <div class="inf center">
            <table border="0" class="mbt center">
                <tr>
                    <td width="15%">病历号：</td>
                    <td width="35%"><input type="text" readonly="readonly"></td>
                    <td width="15%"></td>
                    <td width="35%"></td>
                </tr>
                <tr>
                    <td>姓名：</td>
                    <td><input type="text" id="userName1"></td>
                    <td>性别：</td>
                    <td>
                        <label><input type="radio" name="sex1" checked="checked"><span>男</span></label>
                        <label><input type="radio" name="sex1"><span>女</span></label>
                    </td>
                </tr>
                <tr>
                    <td>年龄：</td>
                    <td><input type="text" id="age1"></td>
                    <td>出生年月：</td>
                    <td><input type="text" onfocus="new Calendar().show(this)" readonly="readonly"></td>
                </tr>
                <tr>
                    <td>身份证号：</td>
                    <td colspan="3"><input type="text" class="lontext" id="idNum1"></td>
                </tr>
                <tr>
                    <td>单位：</td>
                    <td colspan="3"><input type="text" class="lontext" id="comp1"></td>
                </tr>
                <tr>
                    <td>电话：</td>
                    <td><input type="text" id="phone1"></td>
                    <td>E-Mail：</td>
                    <td><input type="text" id="mail1"></td>
                </tr>
                <tr>
                    <td>挂号费：</td>
                    <td><input type="text"></td>
                    <td>传真：</td>
                    <td><input type="text" id="chuanzhen1"></td>
                </tr>
                <tr>
                    <td>预约日期：</td>
                    <td><input type="text" class="yyrq" readonly="readonly"></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
        </form>
        <div class="but">
            <div class="butt">
                <button type="button" class="btn btn-warning first">保存</button>
            </div>
            <div class="butt">
                <button type="button" class="btn btn-warning last">就诊</button>
            </div>
        </div>
    </div>
</block>