<extend name="Public/base.html" />
<block name="link">
    <link rel="stylesheet" href="__PUBLIC__/css/tizhi.css">
</block>
<block name="zhuti">
    <div class="bg">
        <div class="xxk">
            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab">
                       录入基本项目
                    </a>
                </li>
                <li><a href="#res" data-toggle="tab">查看结果</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <!--题目-->
                    <div class="ti">
                        <div class="ti-title">
                            （1）您精力充沛吗？（指精神头足，乐于做事）
                        </div>
                        <div class="ti-content">
                            <label><input type="radio" name="ti1"><span>1、没有</span></label>
                            <label><input type="radio" name="ti1"><span>2、很少</span></label>
                            <label><input type="radio" name="ti1"><span>3、有时</span></label>
                            <label><input type="radio" name="ti1"><span>4、经常</span></label>
                            <label><input type="radio" name="ti1"><span>5、总是</span></label>
                        </div>
                        <!--提示-->
                        <div class="prompt">
                            <div class="pro-title">选项提示</div>
                            <div class="pro-inf">
                                <span>1、没有（根本不/从来没有）</span>
                                <span>2、很少（有一点/偶尔）</span>
                                <span>3、有时（有些/少数时间）</span>
                                <span>4、经常（相当/多数时间）</span>
                                <span>5、总是（非常/每天）</span>
                            </div>
                        </div>
                    </div>
                    <!--上下题-->
                    <div class="updown">
                        <button type="button" class="but">上一题</button>
                        <button type="button">下一题</button>
                    </div>
                    <!--题号-->
                    <div class="tiNum">
                        <table>
                            <tr>
                                <td><a href="#">1</a></td>
                                <td><a href="#">2</a></td>
                                <td><a href="#">3</a></td>
                                <td><a href="#">4</a></td>
                                <td><a href="#">5</a></td>
                                <td><a href="#">6</a></td>
                                <td><a href="#">7</a></td>
                                <td><a href="#">8</a></td>
                                <td><a href="#">9</a></td>
                                <td><a href="#">10</a></td>
                                <td><a href="#">11</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">12</a></td>
                                <td><a href="#">13</a></td>
                                <td><a href="#">14</a></td>
                                <td><a href="#">15</a></td>
                                <td><a href="#">16</a></td>
                                <td><a href="#">17</a></td>
                                <td><a href="#">18</a></td>
                                <td><a href="#">19</a></td>
                                <td><a href="#">20</a></td>
                                <td><a href="#">21</a></td>
                                <td><a href="#">22</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">23</a></td>
                                <td><a href="#">24</a></td>
                                <td><a href="#">25</a></td>
                                <td><a href="#">26</a></td>
                                <td><a href="#">27</a></td>
                                <td><a href="#">28</a></td>
                                <td><a href="#">29</a></td>
                                <td><a href="#">30</a></td>
                                <td><a href="#">31</a></td>
                                <td><a href="#">32</a></td>
                                <td><a href="#">33</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="res">
                    <!--报告-->
                    <div class="report">
                        <div class="reportinf center">
                        <!--报告表单-->
                        <form action="#" method="post">
                            <div class="rep-title">中医体制辨识鉴定报告</div>
                            <div>
                                <table border="1" width="90%" class="center">
                                    <tr>
                                        <td>姓名</td>
                                        <td colspan="2">阿布</td>
                                        <td>性别</td>
                                        <td>男</td>
                                        <td>年龄</td>
                                        <td>36岁</td>
                                        <td>日期</td>
                                        <td colspan="3">2016-12-16</td>
                                    </tr>
                                    <tr>
                                        <td>身份证号</td>
                                        <td colspan="6"></td>
                                        <td>联系方式</td>
                                        <td colspan="3"></td>
                                    </tr>
                                    <tr>
                                        <td>工作单位</td>
                                        <td colspan="10"></td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">体制类型</td>
                                        <td colspan="2">平和质[体制1]</td>
                                        <td colspan="2">气虚质[体制2]</td>
                                        <td colspan="2">阳虚质[体制3]</td>
                                        <td colspan="2">阴虚质[体制4]</td>
                                        <td colspan="2">痰湿质[体制5]</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">湿热质[体制6]</td>
                                        <td colspan="2">血瘀质[体制7]</td>
                                        <td colspan="2">气郁质[体制8]</td>
                                        <td colspan="2">特禀质[体制9]</td>
                                        <td colspan="2"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="rep-title1">气虚质</div>
                            <div class="rep-title1">1.情致调摄</div>
                            <div class="rep-inf">
                                <p>以保持稳定乐观心态</p>
                            </div>
                        </form>
                        <!--分类-->
                        <div class="tztitle">测试结果表</div>
                        <div class="tzstyle">
                            <table width="98%" border="1" bordercolor="#cccccc" class="center">
                                <tr>
                                    <td>体制分类</td>
                                    <td>总分</td>
                                    <td>测试结果</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>1</td>
                                    <td>1</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="anniu">
                    <button type="button" class="btn btn-warning">提<br/>交</button>
                    <button type="button" class="btn btn-warning">保<br/>存</button>
                    <button type="button" class="btn btn-warning">另<br/>存<br/>为</button>
                    <button type="button" class="btn btn-warning">打<br/>印</button>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script type="text/javascript" src="__PUBLIC__/js/tizhi.js"></script>
</block>