/*查询条件*/
body{
	font-family:  Arial, "宋体";
}
body input[type="text"]{
		color: #000000!important;
		border: 1px #DFD7D7 solid!important;
	}
.zuokuaicxtj{
	/*border: 1px red solid;*/
	float: left;
	width: 30%;
	height: 105%;
	margin-top: -15px;

}
	.chaxtjhanzi{
		text-align:center;
		font-size: 25px;
		/*border: 1px red solid;*/
	}
		/*图片*/
		.zuokuaicxtjtufd{
			margin-left: 70px; 
			float: left;
		}
		.zuokuaicxtjzifd{
			float: left;
		}
		.qingchuzuokuaicxtjfd{
			clear: both;
		}
	/*内容*/
	.chaxtjxinxi{
		/*border: 1px red solid;*/
		width: 90%;
		margin-left: 10px;
	}

	.chaxtjxinxianniu{
		width: 100%;
		text-align: center;
	}
/*信息*/
.youkuaixinx{
	/*border: 1px pink solid;*/
	float: left;
	margin-top: -15px;
	width: 65%;
	height: 105%;
}
	/*内容*/
	.bingrxinxi{
		/*border: 1px red solid;*/
		height: 50%;
	}
	.bingrxinxihz{
		text-align: center;
		font-size: 25px;
	}
	/*表格*/
	.bingrxinxibaog{
		border-radius: 5px;
		border: 1px #DFD7D7 solid;
		width: 100%;
		height: 100%;
		overflow: auto;
	}
	.chaochubufyc{
		width: 200%;
		/*overflow: auto;*/

	}
	.jiuzhengjiru{
		border-radius: 5px;
		border: 1px #DFD7D7 solid;
		margin-top:40px; 
		height: 43%;
	}
		/*内容*/
		.jiuzhengjiruhz{
			text-align: center;
		font-size: 25px;
		}
/*清除浮动*/
.qingchudakfd{
	clear: both;
}