body input[type=text]{color:#000!important;border:1px #DFD7D7 solid!important}
.shangcesousuo{margin-top:-15px}
.zhengxingsousuo{width:22%;margin-left:350px}
.ka1youcechufang{float:left;height:35%;width:90%;overflow:auto;border-radius:5px;border:1px #DFD7D7 solid;margin-top:10px;margin-left:60px}
.qingchuchufangfudong{clear:both}
.zhongjianhanzi{margin-top:5px;margin-bottom:5px}
.zhongjianhanziimg{margin-left:60px;width:30px}
.zhongjianhanzichu{font-size:20px}
.zhongjianhanzizhu{margin-left:10px;color:maroon}
.ka1xXiaceChufang{height:55%;width:70%;overflow:auto;border-radius:5px;border:1px #DFD7D7 solid;margin-left:60px;padding-left:20px;float:left}
.ka1xXiacehanzi{width:600px;height:30px;text-align:center;font-size:20px;margin-top:5px}
.chuFangHeBingkuang{text-align:center;width:23%;margin-top:130px;float:left}
.qingchuhebingfudong{clear:both}
