body input[type="text"]{
        color: #000000!important;
        border: 1px #DFD7D7 solid!important;
    }
 /*选项卡*/
.ka1dadekuang1{
    width: 18%;
    margin-top: -10px;
    margin-left: 60px;
    float: left;
}

    .zlznmtk{
        float: left;
        margin-left: 150px;
        margin-top: -10px;
    }
.ka1dadekuang2{
    float: left;
    margin-top: -10px;
    margin-left:50px; 
    width:22%;
    /*border: 1px red solid;*/
}
   
   
    .qingchushangfudong{
        clear: both;
    }
    /*左大块*/
    .ka3ZuoDaKuai{
        float: left;
        border-radius: 5px;
        border:1px #DFD7D7 solid;
        margin-left: 20px;
        margin-top: 5px;
        width: 22%; 
        height: 485px;
    }
    /*右大块*/
    .ka3YouDaKuai{
        float: left;
        margin-left: 10px;
        margin-top: 5px;
        /*border: 1px red solid;*/
        width: 74%;
        height: 450px;
         /*margin-top:-520px;*/
    }
    .ka3YouShangDakuai{
        border-radius: 5px;
        border:1px #DFD7D7 solid;
        /*background-color:#FFFBF0; width:1050px;*/
    }
    .ka3YouShangDakuaiChuFang{
        height: 180px;
        overflow:auto;
        border-radius: 5px;
        border:1px #DFD7D7 solid;
        /*background-color:#FFFBF0;*/
    }
    /*中间汉字*/
    .ka3youShangHanZi{
        margin-top: 3px; 
        /*background-color:#FFFBF0;*/
    }
    .ka3youShangHanZi1{
        border:1px #FFFBF0 solid;
        height:60px; color:#8E852D;
    }
    .ka3youShangHanZi2{
        /*border: 1px red solid;*/
        /*margin-top: 10px;*/
        height:40px; 
        font-size:15px;
    }
    .ka3youShangHanZi3{
        margin-left:50px;
        height:60px; width:300px;
        color:#800000;
    }
    /*下册处方*/
    .ka3xiaCeChuFang{
        float: left;
        height:270px;
        width: 83%;
        overflow:auto;
        border-radius: 5px;
        border:1px #DFD7D7 solid;
    }
    .ka3xiaCeChuFangZI{
        border: 1px #FFFBF0 solid;
        width: 600px; 
        height: 35px; 
        margin-top: 10px;
        text-align:center; font-size:20px;
    }
     .ka1zuihouanniu{
        /*border: 1px red solid;*/
        width: 130px;
        text-align: center;
        float: left;
        margin-top: 130px;
        font-size:20px;
        color:#8E852D;
        
    }
    .chuFangHeBingtuichu{
        margin-top:10px; 
        /*width: 200px;*/
    }
    .qingchuanniufudong{
        clear: both;
    }
    .qingchushangfudong{
        clear: both;
    }