body input[type="text"]{
        color: #000000!important;
        border: 1px #DFD7D7 solid!important;
    }
/*最上搜索*/
.shangcesousuo{
    /*border: 1px red solid;*/
    margin-top:-15px;      
}
    /*病名搜索*/
    .bingmingsousuo{
        float: left;
        width: 22%;
        margin-left: 60px;
        /*border: 1px red solid;*/
    }
    /*整形搜索*/
    .zhengxingsousuo{
        float: left;
        width: 22%;
        margin-left: 250px;
        /*border: 1px red solid;*/
    }
    .qingchusoufudong{
        clear: both;
    }

    .kaishangzuo{
        height:35%;
        width:22%;
        float: left;
        overflow:auto;
        margin-top: 10px;
        margin-left: 60px;
        border-radius: 5px;
        border:1px #DFD7D7 solid;
    }
        /*tr病名*/
        .trdebingming{
            width:300px; 
            background-color:#D7D715; 
            text-align:center;
        }
    /*右侧处方*/
    .ka1youcechufang{
        float: left;
        height:35%;
        width:71%;
        overflow:auto;
        border-radius: 5px;
        border:1px #DFD7D7 solid;
        /*background-color:#FFFBF0;*/
        margin-top:10px;
        margin-left: 10px;
    }
        .background-color:#D7D715; 
            text-align:center; 
        }
        /*table表格*/
    .ka1youcechufangBG{
        width:100%; border: 1px #F0F0F0 solid;
    }
    .qingchuchufangfudong{
        clear: both;
    }
        /*中间汉字*/
        .zhongjianhanzi{
            margin-top: 5px; margin-bottom: 5px;
        }
        .zhongjianhanziimg{
            margin-left:60px;  width:30px;
        }
        .zhongjianhanzichu{
            font-size:20px;
        }
        .zhongjianhanzizhu{
            margin-left:10px; color:#800000;
        }
    /*处方药解*/
    .ka1xXiaceChufang{
        height:260px;
        width:70%;
        overflow:auto;
        border-radius: 5px;
        border:1px #DFD7D7 solid;
        margin-left:60px;
        padding-left: 20px; 
        float: left;
    }
    /*汉字*/
    .ka1xXiacehanzi{
        /*border: 1px red solid;*/
        width: 600px;
        height: 30px;
        text-align:center;
        font-size:20px;
        margin-top: 5px;
        /*margin-bottom: 5px;*/
        /*color:#8E852D;*/
    }
    /*处方合并*/
    .chuFangHeBingkuang{
        /*border: 1px red solid;*/
        text-align: center;
        width: 23%;
        /*height: 400px;*/
        margin-top: 130px;
        float: left;
    }
    .qingchuhebingfudong{
        clear: both;
    }

 