body input[type=text]{border:1px #DFD7D7 solid!important;color:#000!important}
.shangcesousuo{margin-top:-15px}
.bingmingsousuo{float:left;margin-left:60px;width:22%}
.zhengxingsousuo{float:left;margin-left:250px;width:22%}
.qingchusoufudong{clear:both}
.kaishangzuo{float:left;overflow:auto;margin-top:10px;margin-left:60px;width:22%;height:35%;border:1px #DFD7D7 solid;border-radius:5px}
.trdebingming{width:300px;background-color:#FE9;text-align:center}
.ka1youcechufang{float:left;overflow:auto;margin-top:10px;margin-left:10px;width:71%;height:35%;border:1px #DFD7D7 solid;border-radius:5px}
.ka1youcechufangBG{width:100%;border:1px #F0F0F0 solid}
.qingchuchufangfudong{clear:both}
.zhongjianhanzi{margin-top:5px;margin-bottom:5px}
.zhongjianhanziimg{margin-left:60px;width:30px}
.zhongjianhanzichu{font-size:20px}
.zhongjianhanzizhu{margin-left:10px;color:maroon}
.ka1xXiaceChufang{float:left;overflow:auto;margin-left:60px;padding-left:20px;width:70%;height:55%;border:1px solid;border-radius:5px}
.ka1xXiacehanzi{margin-top:5px;width:600px;height:30px;text-align:center;font-size:20px}
.chuFangHeBingkuang{float:left;margin-top:130px;width:23%;text-align:center}
.qingchuhebingfudong{clear:both}
